<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RTA_Information_System.Properties.Settings.LLR_detail_formConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\LLR_detail_form.accdb"
            providerName="System.Data.OleDb" />
        <add name="RTA_Information_System.Properties.Settings.Permanent_LicenceConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Permanent_Licence.accdb"
            providerName="System.Data.OleDb" />
        <add name="RTA_Information_System.Properties.Settings.employee_loginConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\employee_login.accdb"
            providerName="System.Data.OleDb" />
        <add name="RTA_Information_System.Properties.Settings.Issue_of_Challan_formConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Issue_of_Challan_form.accdb"
            providerName="System.Data.OleDb" />
        <add name="RTA_Information_System.Properties.Settings.Payment_Details_of_Challan_DatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Payment_Details_of_Challan_Database.accdb"
            providerName="System.Data.OleDb" />
        <add name="RTA_Information_System.Properties.Settings.LLR_RenewConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\LLR_Renew.accdb"
            providerName="System.Data.OleDb" />
        <add name="RTA_Information_System.Properties.Settings.Permanent_Licence_RenewConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Permanent_Licence_Renew.accdb"
            providerName="System.Data.OleDb" />
        <add name="RTA_Information_System.Properties.Settings.admin_loginConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\admin_login.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>